@charset "UTF-8";
/* CSS Document */


/*base*/
body{ margin:0; padding:0;  background:#f2f2f2;}

/*setting*/
.for_pc {}
.for_phone { display:none !important;}
	@media screen and (max-width:767px){
		.for_pc { display:none !important;}
		.for_phone { display: inherit !important;}
	}


/*all-page*/
.WRAPPER { position: relative; display:block; margin: 0 auto; padding: 0 0 80px; width:100%;  min-width:1220px; font-family:"�L�n������","Microsoft JhengHei",Helvetica; overflow:hidden}
.WRAPPER img { border:0px; vertical-align:top;}
.WRAPPER a { text-decoration:none;}
		@media screen and (max-width:767px){
		.WRAPPER {  padding-bottom:0; min-width: inherit;}
		.WRAPPER img {  width:100%;  height:auto;}
	}


.footer  { min-width:1220px;text-align:center; padding:0 10px; color: #FFF; font:12px/18px Helvetica; position:relative; margin-bottom:20px}
@media screen and (max-width:767px){
	.bgtop_m  { z-index:-1; position: fixed; background: url(m_main.jpg) no-repeat center top; width:100%; min-width: inherit; background-size:100%; height:100%; }
	.footer { min-width: inherit;text-align:center; padding:0 30px;  margin-bottom:50px; margin-top:20px; color: #000}
}
	

/*all-area*/
.Area { z-index:1; position: relative; margin:0 auto; padding:0; border-radius:0; text-align:center; }
.Area a { position:relative; display:block;} 
.Area .go_bt {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;}
.Area .go_bt:hover { filter: brightness(100%);
  -webkit-transform:translateY(-6px);
     -moz-transform:translateY(-6px);
      -ms-transform:translateY(-6px);
       -o-transform:translateY(-6px);
          transform:translateY(-6px);}
.Area1220 { margin:0 auto; width:1220px;}
.Area960 { margin:0 auto; width:960px;}
	@media screen and (max-width:767px){
		.Area .go_bt:hover { 
		  -webkit-transform:none;
			 -moz-transform:none;
			  -ms-transform:none;
			   -o-transform:none;
				  transform:none;}
		.Area1220 { width:100%;}
		.Area960 { margin:0 auto; width:100%;}
	}


/*TOP*/
.Area_top { position:relative;  width: 100%; height:266px; background: #E64797;}
	@media screen and (max-width:767px){
		.Area_top { width:100%;  height:50vw;}
		}
		



